<html>
  <head>
    <title>Pylint results</title>
    <meta charset="utf-8">
  </head>
  <body>
    <!-- Double curly brace ({{, }}) required for substitution from Python. -->
    <style>
      body {{margin:20px;}}
      table {{border-collapse: collapse;}}
      table, th, td {{border: 1px solid black;}}
      th, td {{padding: 2px 10px 2px 10px; text-align: left; vertical-align: top;}}
      .pylintinfo {{margin-left:20px;}}
    </style>
    <h1>Pylint results: {sha}</h1>

    <hr/>

    {pylint_summary}

    {pylint_table}

    <p><br></p>
    <hr/>

    {pylint_info}

    <p><br></p>
    <hr/>

    <p>Pylint version used to produce this test: {pylint_version}</p>

  </body>
</html>
